<h1>Division Page</h1>
<div class="wrapper">
    <p><%= @division.name %></p>
</div>


<p><%= link_to "Edit", edit_division_path(@division) %></p>
<p><%= link_to "Destroy", division_path(@division),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></p>