<div class="right-center r26 grid-line">
			<%= form.collection_select :division_id, Division.order(:name), :id, :name, :prompt => "Division" %>
</div>

<div class="right-center r27 grid-line">
	<%= form.collection_select :promotion_id, Promotion.order(:name), :id, :name, :prompt => "Promotion" %>
</div>