<div class="home-banner-wrapper">
	<h1 class="title home-banner">Make a New Wrestling Card From Scratch</h1>
	<p class="title">or</p>
	<h1 class="title home-banner">Create One From a Template</h1>
	<h2 class="title">What is this all about?</h2>
</div>