<div class="home-banner-wrapper">
	<h1 class="title home-banner">
		<p><%= link_to "Make a New Wrestling Card From Scratch", new_wrestler_path %></p>
		</h1>
	<p class="title">or</p>
	<h1 class="title home-banner">
		<p><%= link_to "Create One From a Template", wrestlers_path %></p>
	</h1>
	<br>
	<h1 class="title home-banner">
		<p><%= link_to "What is this all about?", welcome_about_path %></p>
	</h1>
</div>