/*This styles the wrestler form into specific rows and columns.*/

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto;
  background-color: white;
  color: black;
}


input {
  line-height: 1em;
}


/*Submit & Cancel Buttons*/
.submit-cancel-container {
  display: grid;
  grid-template-columns: 1em, 1em;
}

#submit_button {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: auto;
  margin-right: auto;
}

#cancel-button {
  background-color: rgb(239, 239, 239);
  border: 1px solid black;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

#cancel-button a {
  padding-left:  5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
}


#cancel:hover {
  /*background-color: grey;*/
  background-color: #e9e3e3
}


/*

.left-center {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.right-center {
  grid-column-start: 5;
  grid-column-end: 7;
  text-align: center;
}

.left-note {
  grid-column-start: 1;
  grid-column-end: 5;
}

.right-note {
  grid-column-start: 5;
  grid-column-end: 7;
}

}*/
