/*This styles the wrestler form into specific rows and columns.*/


input {
  line-height: 1em;
}

#cancel {
  background-color: rgb(239, 239, 239);
  border: 1px solid black;
  text-align: center;
}

#cancel a {
  padding-left:  5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
}


#cancel:hover {
  /*background-color: grey;*/
  background-color: #e9e3e3
}


/*

.left-center {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.right-center {
  grid-column-start: 5;
  grid-column-end: 7;
  text-align: center;
}

.left-note {
  grid-column-start: 1;
  grid-column-end: 5;
}

.right-note {
  grid-column-start: 5;
  grid-column-end: 7;
}

}*/
