/*Show Page*/

/*CSS For Pages Loading the show_wrestler and stats partial*/
.show-container {
  display: flex;
  flex-wrap: wrap;
}

.stats {
  max-width: 19em;
  padding-left: 10px;
}

#stats-title {

}

/*Download Section in Show Page*/
#downloads {
  max-width: 20em;
}

.wrestler-download-wrapper {
  height: 60px;
}

.wrestler-download {
  display: inline-block;
  background-color: #008000cf;
  color: white;
  margin: 5px;
  align-content: center;
  padding: 5px;
  border: 5px solid black;
  font-size: 1.1em;
  list-style: none;
}

.wrestler-download a {
  color: white;
  padding-left: 10px;
}



/* CSS for show wrestler (card) partial itself */




/*Print Version of Wrestler Card*/
.print_wrestler {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  max-width: 32em;
  color: black;
  background-color: white;
}

.print_wrestler p {
  margin: 0px;
  padding: 2px;
}