/*Show Page*/

/*CSS For Pages Loading the show_wrestler and stats partial*/
.wrestler-show {
  grid-column: 1;
}

/*Wrestler Show Container*/
.wrestler-show-container {
  display: grid;
  grid-template-columns: 9em 9em 18em;
  background-color: white;
}

.grid-height {
  padding-top: 3px;
}


.gc-dc-show {
  width: 6em;
  padding-left: 1em;
  color: #07529b;
}

.move-show {
  width: 15.5em;
  padding-left: 0.5em;
  color: #07529b;
}


#site-plug {
  text-align: center;
  color: #3a963a;
  font-weight: bold;
}

.show-wrestler-notes {
  background-color: white;
  margin-left: 4px;
  color: black;
  white-space: pre-wrap;
}






/*Download Section in Show Page*/
#downloads {
  max-width: 20em;
}

.wrestler-download-wrapper {
  height: 60px;
}

.wrestler-download {
  display: inline-block;
  background-color: #008000cf;
  color: white;
  margin: 5px;
  align-content: center;
  padding: 5px;
  border: 5px solid black;
  font-size: 1.1em;
  list-style: none;
}

.wrestler-download a {
  color: white;
  padding-left: 10px;
}


/*Mobile Only Styles*/
@media only screen and (max-width: 700px) {
  .wrestler-show-container {
    font-size: 14px;
  }
}