.home-banner-wrapper {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

a {
	color: #72c7e3;
	text-decoration: none;
}

h1 {
	color: #e14343;
}

.home-banner {
	background-color: brown;
	border: 1px solid white;
	height: 2.5em;
	margin-left: auto;
	margin-right: auto;

	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width: 25em;
}

.home-banner:hover {
	background-color: #d32626;
	text-decoration: none;
}

.home-banner a {
	color: white;
	text-decoration: none;
}