a {
	color: #72c7e3;
	text-decoration: none;
}

h1 {
	color: #e14343;
}


.about-container {
	max-width: 80em;
}

.home-banner-wrapper {
	margin-top: 2em;
}

.home-banner {
	background-color: brown;
	border: 1px solid white;
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

.home-banner:hover {
	background-color: #d32626;
	text-decoration: none;
}

.home-banner a {
	color: white;
	text-decoration: none;
}