/*// Place all the styles related to the Wrestlers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*/

/*Form/Show and Stats Layout*/
.wrestler-display-container {
  display: grid;
  grid-template-columns: 3fr, 1fr;
}

.wrestler-form {
  grid-column-start: 1;
  grid-column-end: 2;
}

.wrestler-stats-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
}


/*Show and Forms Grid Layouts*/
.wrestler-form-wrapper {
  display: grid;
  grid-template-columns: 1fr, 1fr, 2fr;
}

.wrestler-name {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.wrestler-gc-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}



.wrestler-oc-header {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}

.gc12 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 8;
  text-align: center;
}


.wrestler-dc-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 9;
  text-align: center;
}

.dc12 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 15;
  text-align: center;
}


.wrestler-specialty-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 16;
  text-align: center;
}

.wrestler-specialty-move {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 17;
  text-align: center;
}

.wrestler-specialty-value {
  grid-column-start: 1;
  grid-column-end: 3;
}


/*Look and Feel of Wrestler Show & Form*/
.grid-line {
  border: 1px solid green;
}

.grid-line-bold {
  border: 2px solid green;
}




/*columns*/
.c1 {
  grid-column: 1;
}

.c2 {
  grid-column: 2;
}

.c3 {
  grid-column: 3;
}


/*Grid rows*/
.r1 {
  grid-row: 1;
}

.r2 {
  grid-row: 2;
}

.r3 {
  grid-row: 3;
}

.r4 {
  grid-row: 4;
}

.r5 {
  grid-row: 5;
}

.r6 {
  grid-row: 6;
}

.r7 {
  grid-row: 7;
}

.r8 {
  grid-row: 8;
}

.r9 {
  grid-row: 9;
}

.r10 {
  grid-row: 10;
}

.r11 {
  grid-row: 11;
}

.r12 {
  grid-row: 12;
}

.r13 {
  grid-row: 13;
}

.r14 {
  grid-row: 14;
}

.r15 {
  grid-row: 15;
}

.r16 {
  grid-row: 16;
}

.r17 {
  grid-row: 17;
}

.r18 {
  grid-row: 18;
}

.r19 {
  grid-row: 19;
}

.r20 {
  grid-row: 20;
}

.r21 {
  grid-row: 21;
}

.r22 {
  grid-row: 22;
}

.r23 {
  grid-row: 23;
}

.r24 {
  grid-row: 24;
}

.r25 {
  grid-row: 25;
}

.r26 {
  grid-row: 26;
}

.r27 {
  grid-row: 27;
}

.r28 {
  grid-row: 28;
}

.r29 {
  grid-row: 29;
}

.r30 {
  grid-row: 30;
}


/*Index View*/
/*TODO: Move to it's own CSS document.*/

/*TODO: this empty CSS section needs to be here even though it's blank. I have no idea why.*/
.wrestler-list {

}

.wrestler-list {
  max-height: 30em;
  overflow-x:auto;
  overflow-y: scroll;

  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#wrestlers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 15px;
}

th {
  position: sticky;
  top: 0;
}

#wrestlers td, #wrestlers th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

th a {
  color: white;
}

td a {
  color: blue;
}

#wrestlers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#wrestlers tr:nth-child(odd) {
  background-color: #a2a2cd;
}

#wrestlers tr:hover {background-color: #ddd;}

#wrestlers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2383d5;
  color: white;
}

.value {
	text-align: right;
}


