// Place all the styles related to the Wrestlers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  width:100%;
}

#wrestlers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

#wrestlers td, #wrestlers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#wrestlers tr:nth-child(even){background-color: #f2f2f2;}

#wrestlers tr:hover {background-color: #ddd;}

#wrestlers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2383d5;
  color: white;
}

.value {
	text-align: right;
}

/*Show Page*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
}

.wrapper p {
  margin: 1px;
}

.grid-line {
  border: 2px solid green;
}

.title { 
  text-align: center;
}

.left {
  grid-column-start: 1;
  grid-column-end: 3;
}

.right {
  grid-column: 3;
}

.stats {
  grid-column: 4;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.col3 {
  grid-column: 3;
}

.col4 {
  grid-column: 4;
}

.one {
  grid-row: 1;
}

.two {
  grid-row: 2;
}

.three {
  grid-row: 3;
}

.four {
  grid-row: 4;
}

.five {
  grid-row: 5;
}

.six {
  grid-row: 6;
}

.seven {
  grid-row: 7;
}

.eight {
  grid-row: 8;
}

.nine {
  grid-row: 9;
}

.ten {
  grid-row: 10;
}

.eleven {
  grid-row: 11;
}

.twelve {
  grid-row: 12;
}

.thirteen {
  grid-row: 13;
}

.fourteen {
  grid-row: 14;
}

.fifteen {
  grid-row: 15;
}

.sixteen {
  grid-row: 16;
}

.seventeen {
  grid-row: 17;
}

.eighteen {
  grid-row: 18;
}

.nineteen {
  grid-row: 19;
}

.twenty {
  grid-row: 20;
}

.twenty-one {
  grid-row: 21;
}

.twenty-two {
  grid-row: 22;
}

.twenty-three {
  grid-row: 23;
}

.twenty-four {
  grid-row: 24;
}

.twenty-five {
  grid-row: 25;
}