// Place all the styles related to the Wrestlers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#wrestlers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

#wrestlers td, #wrestlers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#wrestlers tr:nth-child(even){background-color: #f2f2f2;}

#wrestlers tr:hover {background-color: #ddd;}

#wrestlers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2383d5;
  color: white;
}

.value {
	text-align: right;
}

/*Show Page*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper p {
  margin: 1px;
}

.grid-line {
  border: 2px solid green;
}

.full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.title { 
  text-align: center;
}

.left {
  grid-column-start: 1;
}

.right {
  grid-column-start: 2;
}

.one {
  grid-row-start: 1;
}

.two {
  grid-row-start: 2;
}

.three {
  grid-row-start: 3;
}

.four {
  grid-row-start: 4;
}

.five {
  grid-row-start: 5;
}

.six {
  grid-row-start: 6;
}

.seven {
  grid-row-start: 7;
}

.eight {
  grid-row-start: 8;
}

.nine {
  grid-row-start: 9;
}

.ten {
  grid-row-start: 10;
}

.eleven {
  grid-row-start: 11;
}

.twelve {
  grid-row-start: 12;
}

.thirteen {
  grid-row-start: 13;
}

.fourteen {
  grid-row-start: 14;
}

.fifteen {
  grid-row-start: 15;
}