<h1>Promotion Page</h1>
<div class="wrapper">
    <p><%= @promotion.name %></p>
</div>

<!-- # TODO: Replace with index partial for DRY -->
<div>
    <% @wrestlers.each do |w| %>
        <p><%= w.name %></p>
    <% end %>
</div>

<p><%= link_to "Edit", edit_promotion_path(@promotion) %></p>
<p><%= link_to "Destroy", promotion_path(@promotion),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></p>