<div class="container">
    <header>Superstar Pro Wrestling Game Card Maker</header>
    <nav>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">HOME</a></li>
          <li><%=link_to "CREATE A NEW WRESTLER", new_wrestler_path %></li>
          <li><%=link_to "FIND A TEMPLATE", wrestlers_path %></li>
          <li><%=link_to "ABOUT", welcome_about_path %></li>
        </ul>
  </nav>
</div>