<div class="container">
    <nav>
        <ul class="nav navbar-nav">
          <li><%=link_to "ALL WRESTLERS", new_wrestler_path %></li>
          <li><%=link_to "SEARCH BY CATEGORY", wrestlers_path %></li>
          <li><%=link_to "SEARCH BY PROMOTION", welcome_about_path %></li>
        </ul>
  </nav>
</div>